USE [master]
GO
/****** Object:  Database [Notas]    Script Date: 30/10/2021 21:48:38 ******/
CREATE DATABASE [Notas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Notas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Notas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Notas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Notas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Notas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Notas]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 30/10/2021 21:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[idNota] [int] IDENTITY(1,1) NOT NULL,
	[Mensaje] [varchar](2000) NOT NULL,
	[FechaEscritura] [datetime] NULL,
	[FechaEntrega] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
